.Symbols1{
    position: absolute;
    z-index: 2;
    color: palevioletred;
    left: 10px;
    top: 170px;
}
.Symbols2{
    position: absolute;
    z-index: 2;
    color: palevioletred;
    left: 10px;
    top: 310px;
}