.Setter1 {
    position: absolute;
    z-index: 2;
    color: palevioletred;
    left: 10px;
    top: 10px;
}
.Setter2 {
    position: absolute;
    z-index: 2;
    color: palevioletred;
    left: 10px;
    top: 30px;
}